@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

input {
  outline: none;
}

.graph-container .recharts-surface {
  max-width: 100%;
}
.graph-container .recharts-wrapper{
  width: 0;
}
.line {
  display: flex;
  align-items: center;
}

.label {
  width: 50px;
  text-align: center;
  position: relative;
}

.label:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  height: 2px;
  width: 50px; /* Adjust this to your preference */
  background-color: #fff;
}